<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/_build/css/main.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.3.2/build/styles/default.min.css" id="hljs-light-theme">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.3.2/build/styles/atom-one-dark.min.css" id="hljs-dark-theme" disabled>
  <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
  <script src="/assets/js/dark-mode-toggle.js"></script>
  <script src="/assets/js/mobile-menu.js"></script>
  <script src="/assets/js/language-toggle.js"></script>
  <title><%= title %></title>
</head>
<body class="<%= darkModeClass %>">
  <header>
    <nav class="nav-container">
      <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul class="nav-list">
        <li><a href="/"><%= __('home') %></a></li>
        <li><a href="/article/about-me"><%= __('aboutMe') %></a></li>
        <li><a href="https://github.com/cjuniorfox/">Github</a></li>
        <li><a href="https://www.linkedin.com/in/carlos-anselmo-mendes-junior-35543031/">LinkedIn</a></li>
        <li class="dark-mode-toggle-container">
          <label for="toggle-dark-mode"><%= __('darkMode') %></label>
          <input type="checkbox" id="toggle-dark-mode">
        </li>
        <li class="language-selector">
          <label for="language-select"><%= __('language') %></label>
          <select id="language-select">
            <option value="en" <%= locale === 'en' ? 'selected' : '' %>>English</option>
            <option value="pt" <%= locale === 'pt' ? 'selected' : '' %>>Português</option>
          </select>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="article-content">
      <%- body %>
    </div>
  </main>
  <footer>
    <div class="footer-content">
      <p class="footer-left">
        <%-__('footer_text', { year: new Date().getFullYear() }) %>
      </p>
      <p class="footer-right">
        <a href="https://github.com/cjuniorfox/">Github</a>
        <a href="https://www.linkedin.com/in/carlos-anselmo-mendes-junior-35543031/">LinkedIn</a>
      </p>
    </div>
  </footer>
</body>
</html>