<article>
    <p><small><%= category %></small></p>
    <h1><%= title %></h1>
    <div class="article-metadata">
        <h4><%= author %></h4>
        <div class="article-data-content">
            <small><time><%= date %></time> • <%= readingTime %> min read</small>
        </div>
    </div>
    <div class="article-content">    
        <%- content %>
    </div>
    <p class="keywords">
        keywords: <%= keywords.join(' • ') %>
    </p>
    
</article>