<h1><%= title %></h1>
  <ul>
    <% articles.forEach(article => { %>
      <li>
        <a href="/article/<%= article.name %>">
          <img src="<%= article.image %>" alt="<%= article.title %>">
          <h3><%= article.title %></h3>
          <p><%= article.brief %></p>
          <p><small>By <%= article.author %> on <%= article.date %></small></p>
        </a>
      </li>
    <% }) %>
  </ul>